.page {
  color: white;
  position: relative;
  text-align: center;
  background: #1c6dc6;
  padding-top: 6px;

  &__top {
    min-height: 170px;

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 20px / 2); bottom: calc(50% - 30px - 40px / 2);
      border: 20px solid transparent;
      border-top: 20px solid #1c6dc6;
    }
  }

  &__bottom {
    min-height: 170px;
    background-color: rgba(0,0,0,0.3);
  }
}
